.splashPage {
	.bottomLeftImage img {
		margin-top: 23px;
		margin-bottom: 15px;
		width: 100%;
		border:1px solid #7F7F7F;
		box-shadow: 5px 5px 15px grey;
	}
	.visible-sm-down {
		@media screen and (min-width: 992px) {
			display: none;
		}
		@media screen and (max-width: 992px) {
		}
	}
	.hidden-sm-down {
		@media screen and (min-width: 992px) {
		}
		@media screen and (max-width: 992px) {
			display: none;
		}
	}
	.mobileMainPhoto img {
		margin-top: 15px;
		width: 100%;
	}

	background-color: #FEFEFE;
	@media screen and (max-width: 992px) {
		.container {
			margin-left: 0;
			margin-right: 0;
		}
		.splashPage-mainPhoto {
			margin-top: 15px;
			img {
				width: 100%;
			}
		}
		.wording {
		}
	}
	.splashPage-mainPhoto {
		img {
			display: block;
	    margin-left: auto;
	    margin-right: auto;
	    @media screen and (min-width: 992px) {
				width: 90%;
				margin-bottom: 15px;
			}
			border:1px solid #7F7F7F;
			box-shadow: 5px 5px 15px grey;
		}
	}
	.logo {
		img {
			display: block;
	    margin-left: auto;
	    margin-right: auto;
		}
		.logoPhoto img {
			@media screen and (min-width: 544px) {
				width: 70%;
			}
			@media screen and (max-width: 544px) {
				width: 50%;
			}
		}
	}
	.wording {
		padding-bottom: 30px;
		@media screen and (min-width: 992px) {
			padding-top: 30px;
			border:1px solid #7F7F7F;
			box-shadow: 5px 5px 15px grey;
		}
		.contactInfo {
			.facebookLogo a:hover {
				background-color: transparent;
			}
			.facebookLogo {
				@media screen and (max-width: 544px) {
					margin-top: 10px;
				}
				margin-top: 10px;
			}
			@media screen and (min-width: 992px) {
				margin-top: 10px;
			}
			h3 {
				color: #158DC1;
			}
			.facebookLogo img {
				@media screen and (min-width: 544px) {
					width: 45px;
				}
				@media screen and (max-width: 544px) {
					width: 40px;
				}
			}
		}
	}
}
.spacer-sm {
	margin-top: 20px;
}