h1 Editing Accessory

= render 'form'

= link_to 'Show', accessory_category_accessory_path(@accessory_category, @accessory)
br
= link_to 'Back', accessory_category_accessories_path(@accessory_category)
